.fc-white{
	color: white;
	text-decoration: none;
}

.main-container{
	min-width: 100%;
	min-height: 100vh;
	background-color: #083051;
	background-image: url("maquette.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-bottom: 1px solid white;
}

.numero {
	float: right;
}


.image-td-construction{
	margin-top: 20vh;
	max-width: 100%;
}

.td-main {
	padding-top: 35vh;
}

.image-td-container{
	max-height: 70%;
}

.sub-container{
	min-width: 100%;
	background-color: #083051;
}

.project-btn{
	border: 1px solid white;
	padding: 4px;
	border-radius: 5px;
}

.btn-project-sum{
	border-bottom: 1px solid black;
	text-decoration: none;
	text-align: center;
	color: black;
	padding: 4px;
	border-radius: 5px;
}

.nav-test{
	border-color: lightgreen;
}

.infoentreprise {
	margin-top: 5%;
	max-width: 80%;
}

.infocontact {
	margin-top: 10%;
	max-width: 70%;
}

.devis-main {
	margin-top: 2%;
	max-width: 80%;
}

.devis-btn {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

.title{
	text-decoration: underline;
	font-weight: 300;
	margin-left: 50px;
}

.title-contact{
	font-weight: 300;
	margin-left: 50px;
}

.title-contact-number{
	font-weight: 300;
}

.normal-h3 {
	font-weight: 100;
}

.contact{
	margin-top: 30px;
	border-top: 1px solid black;
}

.contact-page{
	margin-top: 30px;
	padding-top: 20px;
	border-top: 1px solid black;
}

.contact-h3{
	margin-top: 10px;
}

/* Custom framework : For basic use */

/*Font*/

.fd-none{ text-decoration: none; }
.fd-underline{ text-decoration: underline; }
.fd-italic{ font-style: italic ; }

.fw-100{ font-weight: 100; }
.fw-200{ font-weight: 200; }
.fw-300{ font-weight: 300; }
.fw-400{ font-weight: 400; }

.fc-white { color: white; }
.fc-black { color: black; }

.fc-sblack { color: #2d3436; }
.fc-sorange { color: #e17055; }
.fc-spink { color: #ff7675; }
.fc-sblue { color: #74b9ff; }
.fc-sgreen { color: #55efc4; }
.fc-spink-2 { color: #fab1a0; }
.fc-spurple { color: #a29bfe; }
.fc-black { color: black; }

.text-align-center{ text-align: center; }
.text-align-left { text-align: left; }
.text-align-right { text-align: right; }

/*Font*/

/*Border*/

.border-1-black { border: 1px solid black; }
.border-2-black { border: 2px solid black; }
.border-3-black { border: 3px solid black; }

.borderb-3-black { border-bottom: 10px solid black; }

/*Border*/

/*Div and size*/

.img-fluid-100 {
	max-width: 100%;
	max-height: 100%;
}

.max-width-100 { max-width: 100%; }
.max-height-100 { max-height: 100%; }
.min-width-100 { min-width: 100%; }
.min-height-100 { min-height: 100%; }

.max-width-75 { max-width: 75%; }
.max-height-75 { max-height: 75%; }
.min-width-75 { min-width: 75%; }
.min-height-75 { min-height: 75%; }

.max-width-50 { max-width: 50%; }
.max-height-50 { max-height: 50%; }
.min-width-50 { min-width: 50%; }
.min-height-50 { min-height: 50%; }

.max-width-25 { max-width: 25%; }
.max-height-25 { max-height: 25%; }
.min-width-25 { min-width: 25%; }
.min-height-25 { min-height: 25%; }

.min-height-30px { min-height: 20px; }

/*Div and size*/

/*Margin and paddings things*/

.margin-top-10 { margin-top: 10px; }
.margin-top-20 { margin-top: 20px; }
.margin-top-30 { margin-top: 30px; }
.margin-top-40 { margin-top: 40px; }
.margin-top-50 { margin-top: 50px; }
.margin-top-60 { margin-top: 60px; }
.margin-top-70 { margin-top: 70px; }

.padding-top-10 { padding-top: 10px; }
.padding-top-20 { padding-top: 20px; }
.padding-top-30 { padding-top: 30px; }
.padding-top-40 { padding-top: 40px; }
.padding-top-50 { padding-top: 50px; }
.padding-top-60 { padding-top: 60px; }
.padding-top-70 { padding-top: 70px; }

.margin-left-10 { margin-left: 10px; }
.margin-left-20 { margin-left: 20px; }
.margin-left-30 { margin-left: 30px; }
.margin-left-40 { margin-left: 40px; }
.margin-left-50 { margin-left: 50px; }
.margin-left-60 { margin-left: 60px; }
.margin-left-70 { margin-left: 70px; }

.padding-left-10 { padding-left: 10px; }
.padding-left-20 { padding-left: 20px; }
.padding-left-30 { padding-left: 30px; }
.padding-left-40 { padding-left: 40px; }
.padding-left-50 { padding-left: 50px; }
.padding-left-60 { padding-left: 60px; }
.padding-left-70 { padding-left: 70px; }

.margin-right-10 { margin-right: 10px; }
.margin-right-20 { margin-right: 20px; }
.margin-right-30 { margin-right: 30px; }
.margin-right-40 { margin-right: 40px; }
.margin-right-50 { margin-right: 50px; }
.margin-right-60 { margin-right: 60px; }
.margin-right-70 { margin-right: 70px; }

.padding-right-10 { padding-right: 10px; }
.padding-right-20 { padding-right: 20px; }
.padding-right-30 { padding-right: 30px; }
.padding-right-40 { padding-right: 40px; }
.padding-right-50 { padding-right: 50px; }
.padding-right-60 { padding-right: 60px; }
.padding-right-70 { padding-right: 70px; }

.margin-bottom-10 { margin-bottom: 10px; }
.margin-bottom-20 { margin-bottom: 20px; }
.margin-bottom-30 { margin-bottom: 30px; }
.margin-bottom-40 { margin-bottom: 40px; }
.margin-bottom-50 { margin-bottom: 50px; }
.margin-bottom-60 { margin-bottom: 60px; }
.margin-bottom-70 { margin-bottom: 70px; }

.padding-bottom-10 { padding-bottom: 10px; }
.padding-bottom-20 { padding-bottom: 20px; }
.padding-bottom-30 { padding-bottom: 30px; }
.padding-bottom-40 { padding-bottom: 40px; }
.padding-bottom-50 { padding-bottom: 50px; }
.padding-bottom-60 { padding-bottom: 60px; }
.padding-bottom-70 { padding-bottom: 70px; }

.bhover:hover {transition: 0.25s; text-decoration: underline; color: #bdc3c7;}
/*Margin and paddings things*/

/* Custom framework : For basic use */
